<form method="post" action="{{ path('app_stade_delete', {'id': stade.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stade.id) }}">
    <button class="btn">Supprimer</button>
</form>
