{% extends 'base.html.twig' %}

{% block title %}New MatchFootball{% endblock %}

{% block body %}
    <h1>Create new MatchFootball</h1>

    {{ include('admin/match_football/_form.html.twig') }}

    <a href="{{ path('app_match_football_index') }}">back to list</a>
{% endblock %}
