<h1>Bonjour ! Veuillez confirmer votre adresse e-mail !</h1>

<p>
	Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant:<br><br>
	<a href="{{ url('app_verify_email', {'token': token}) }}">Confirmer mon email</a>.
		    Ce lien va expirer dans 24 heures.
</p>

<p>
	Bonne journée!
</p>
